@font-face {
  font-family: 'sonus_light-accumen';
  src: url("../fonts/SonusW01Light.woff") format("woff"); }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }
  *:before, *:after {
    box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  font-size: 15px;
  font-family: sonus_light-accumen, sans-serif;
  color: #696d6a; }

a {
  color: #696d6a;
  font-weight: 600;
  line-height: 3; }

/* Cyan background */
.cyan_background {
  width: 100%;
  background-color: #a6ccd1; }

/* Container */
.container {
  width: 980px;
  z-index: 1000;
  background-color: #fff;
  margin: 0 auto;
  border: solid 1px #82a7ad;
  border-top: none; }

/* Main header */
.main_header {
  padding-top: 77px;
  text-transform: uppercase;
  padding-left: 40px;
  align-items: center;
  display: flex; }

.main_header_logo {
  color: #2a3436;
  display: inline-block;
  font-size: 48px;
  font-weight: 500; }

.main_header_nav {
  height: 100%;
  display: inline-block;
  margin-left: 80px;
  font-size: 20px; }

.main_header_nav_item {
  font-weight: 100;
  text-decoration: none;
  color: #1c1c1c;
  margin-right: 35px;
  background-color: #fff;
  border: none;
  transition: background-color .2s linear, border .2s linear;
  padding: 5px; }
  .main_header_nav_item:hover {
    background-color: #f2ebde;
    border: solid 1px #bfb5a4; }

.main_header_nav_item.active {
  text-decoration: none;
  color: #1c1c1c;
  margin-right: 35px;
  background-color: #f2ebde;
  border: solid 1px #bfb5a4;
  transition: background-color .2s linear, border .2s linear;
  padding: 5px; }

/* Main section*/
.main_section {
  margin-top: 70px;
  display: flex;
  padding-bottom: 70px; }

/* Left side */
.left_side {
  flex: 0 0 280px;
  margin-left: 23px;
  padding-top: 20px;
  padding-left: 18px;
  padding-right: 30px;
  padding-bottom: 75px;
  background-color: #eef5f6;
  border: 1px solid #d6e0e2;
  line-height: 1.9; }
  .left_side h2 {
    font-weight: 200; }
  .left_side p {
    margin-bottom: 20px;
    font-weight: 500; }

/* Second h2 */
#second_h2 {
  margin-top: 40px; }

/* Right side */
.right_side {
  padding: 20px 40px 0 35px;
  line-height: 1.8; }
  .right_side h1 {
    font-weight: 200;
    font-size: 25px; }

/* Intro */
.intro {
  display: flex;
  margin-top: 25px;
  font-size: 15px;
  margin-bottom: 30px; }
  .intro p {
    margin-left: 30px; }
  .intro a {
    color: #696d6a; }

/* Text header */
.text_header {
  font-weight: 200;
  margin-bottom: 15px; }

/* Main footer */
.main_footer {
  background-color: #f2ebde;
  border-top: 1px solid #bfb5a4;
  display: flex;
  padding-top: 40px;
  padding-bottom: 40px; }

.footer_left {
  flex: 0 0 280px;
  padding-left: 40px; }

.footer_right {
  margin-left: 60px;
  line-height: 1.7; }

.border {
  position: relative; }
  .border:after {
    content: "";
    width: 240px;
    height: 1px;
    background-color: #bfb5a4;
    position: absolute;
    top: 30px;
    left: 0; }

.titr {
  margin: 0 auto;
  width: 280px;
  padding: 60px 0 60px 60px; }
