@import "fonts"

html
	font-family: sonus_light-accumen, sans-serif

.cyan-background
	position: absolute
	top: 0
	bottom: 0
	right: 0
	left: 0
	background-color: #a7cdd3
	
.content
	margin-left: auto
	margin-right: auto
	height: auto
	width: 68vw
	background-color: #fff
	border: solid 1px #82a7ad
	border-top: none

.main-header
	padding-top: 45px
	text-transform: uppercase
	padding-left: 40px
	display: grid
	grid-template-columns: repeat(4, 1fr)

.main-header-item 
	&:nth-child(2)
		grid-column: 2 / 5

.site-name
	h1
		font-weight: normal
		font-size: 48px
		letter-spacing: 1px

.menu
	padding-left: 25px
	padding-top: 30px 
	font-size: 20px
	ul
		list-style-type: none
	li
		display: inline
		padding-left: 30px

.focus
	text-align: justify
	display: inline
	border: 1px solid #bfb5a4
	width: 2000px
	height: 100px
	background-color: #f2ebde
	li
		padding-left: 10px
