@import "fonts"
@import "vars"
@import "base"

/* Cyan background */
.cyan_background
	width: 100%
	background-color: $cyan

/* Container */
.container
	width: 980px
	z-index: 1000
	background-color: #fff
	margin: 0 auto
	border: solid 1px $dart-cyan
	border-top: none

/* Main header */ 
.main_header
	padding-top: 77px
	text-transform: uppercase
	padding-left: 40px
	align-items: center
	display: flex

.main_header_logo
	color: #2a3436
	display: inline-block
	font-size: 48px
	font-weight: 500

.main_header_nav
	height: 100%
	display: inline-block	
	margin-left: 80px
	font-size: 20px
	

.main_header_nav_item
	font-weight: 100
	text-decoration: none
	color: #1c1c1c
	margin-right: 35px
	background-color: #fff
	border: none
	transition: background-color .2s linear, border .2s linear
	padding: 5px
	
	&:hover
		background-color: $light-yellow
		border: solid 1px $yellow-border


.main_header_nav_item.active
	text-decoration: none
	color: #1c1c1c
	margin-right: 35px
	background-color: $light-yellow
	border: solid 1px $yellow-border
	transition: background-color .2s linear, border .2s linear
	padding: 5px
	
/* Main section*/
.main_section
	margin-top: 70px
	display: flex
	padding-bottom: 70px

/* Left side */
.left_side
	flex: 0 0 280px
	margin-left: 23px
	padding-top: 20px
	padding-left: 18px
	padding-right: 30px
	padding-bottom: 75px
	background-color: $light-cyan
	border: 1px solid $cyan-border
	line-height: 1.9
	h2
		font-weight: 200
	p
		margin-bottom: 20px
		font-weight: 500

/* Second h2 */
#second_h2
	margin-top: 40px

/* Right side */
.right_side
	padding: 20px 40px 0 35px
	line-height: 1.8

	h1
		font-weight: 200
		font-size: 25px

/* Intro */
.intro
	display: flex
	margin-top: 25px
	font-size: 15px
	margin-bottom: 30px

	p
		margin-left: 30px
	a
		color: $font-color

/* Text header */
.text_header
	font-weight: 200
	margin-bottom: 15px

/* Main footer */
.main_footer
	background-color: $light-yellow
	border-top: 1px solid $yellow-border
	display: flex
	padding-top: 40px
	padding-bottom: 40px

.footer_left
	flex: 0 0 280px
	padding-left: 40px

.footer_right
	margin-left: 60px
	line-height: 1.7

.border
	position: relative
	&:after
		content: ""
		width: 240px
		height: 1px
		background-color: $yellow-border
		position: absolute
		top: 30px
		left: 0

.titr
	margin: 0 auto
	width: 280px
	padding: 60px 0 60px 60px