@import "fonts"
@import "vars"
@import "base"

/* Cyan background */
.cyan_background
	width: 100%
	height: 100%
	background-color: $cyan

/* Container */
.container
	width: 1000px
	z-index: 1000
	background-color: #fff
	margin: 0 auto
	border: solid 1px $dart-cyan
	border-top: none

/* Main header */ 
.main_header
	padding-top: 77px
	text-transform: uppercase
	padding-left: 40px
	align-items: center
	display: flex

.main_header_logo
	color: #2a3436
	display: inline-block
	font-size: 48px
	font-weight: 500

.main_header_nav
	height: 100%
	display: inline-block	
	margin-left: 80px
	font-size: 20px
	

.main_header_nav_item
	text-decoration: none
	color: #1c1c1c
	margin-right: 35px
	background-color: #fff
	border: none
	transition: background-color .2s linear, border .2s linear
	padding: 5px
	
	&:hover
		background-color: $light-yellow
		border: solid 1px $yellow-border


.main_header_nav_item.active
	text-decoration: none
	color: #1c1c1c
	margin-right: 35px
	background-color: $light-yellow
	border: solid 1px $yellow-border
	transition: background-color .2s linear, border .2s linear
	padding: 5px
	